/* header */
.site-header {
	height: 62px;
	border-top: 5px solid #424242;
	border-bottom: 1px solid #e8e8e8;
}
.wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}
.site-title {
	float: left;
	font-size: 26px;
	font-weight: 300px;
	line-height: 56px;
	letter-spacing: -1px;
}
.site-nav {
	float: right;
}
.site-nav a {
	padding: 10px 5px;
	height: 56px;
	line-height: 36px;
	background-color: #fff;
}
/* header */